<div class="container-fluid">
  <div class="row gn-row-main">
    <div class="col-sm-8 col-sm-offset-2">
		
		
			<div class="well well-md"> <!-- Home page Text -->
				<h1 class="ng-scope text-center" data-translate-values="{orgName: 'Royal Belgian Institute of Natural Sciences Data Portal'}">
					Royal Belgian Institute of Natural Sciences Metadata Portal
				</h1>
					<p class="text-center">Welcome to the metadata catalogue of RBINS. Discover the data available for the different topics.</p>
			 </div>
 
 
      <div class="input-group gn-form-any">
        <input type="text"
               class="form-control input-lg"
               autofocus=""
               data-ng-model="homeAnyField"
               data-ng-model-options="modelOptions"
               placeholder="{{'anyPlaceHolder' | translate}}"
               aria-label="{{'anyPlaceHolder' | translate}}"
               data-ng-keyup="$event.keyCode == 13 && goToSearch(homeAnyField)"
               data-typeahead="address for address in getAnySuggestions($viewValue)"
               data-typeahead-loading="anyLoading"
               data-typeahead-min-length="1"/>
               
        <span class="input-group-btn">
          <a class="btn btn-primary btn-lg"
             type="button"
             data-ng-href="#/search?any={{homeAnyField}}">
            <i class="fa fa-search"></i>
            <span class="sr-only" data-translate="">search</span>
          </a>
        </span>
      </div>

      <div data-translate="" class="search-over"
           data-translate-values="{records: '{{searchInfo.count}}'}">searchOver</div>

    </div>
  </div>
  
  <form class="form-horizontal"
        role="form"
        data-ng-controller="gnsSearchTopEntriesController"
        data-ng-search-form=""
        data-runSearch="true"
        data-ng-show="searchResults.records.length > 0">
    <div class="row gn-top-records" role="row">
      <h4 data-translate="">topMaps</h4>

        <input type="hidden" name="_csrf" value="{{csrf}}"/>

        <div data-ng-show="searchResults.records.length > 0"
             data-gn-results-container=""
             data-search-results="searchResults"
             data-template-url="resultTemplate"></div>
    </div>
  </form>

  <div class="row" data-ng-show="searchInfo.count == 0">
    <div data-ng-show="searchInfo.count == 0"
         class="col-md-offset-4 col-md-4 alert alert-warning">
      <span data-translate="">noDataInCatalog</span>
      <div data-gn-need-help="user-guide/quick-start/index.html"></div>
    </div>
  </div>
  
  

 
 
  
 <!--  <div class="row gn-row-topics" data-ng-show="searchInfo.count > 0"> -->  <!-- Options to isolate the topics from background -->
    <div class="col-sm-12 col-md-12" data-ng-show="browse !== ''"> <!-- set width of facet box on main page -->
      <h3>

      <div class="row">  <!-- box containing the different topics -->
		  
		<!-- Marine Spatial Plan -->
		<div class="col-xs-12 col-sm-6 col-md-4 chips-card text-center">
                             
              <a href="#/search?facet.q=keyword%2FMarine Spatial Plan%26type%2Fdataset&resultType=details">
				<img class="img-thumbnail" src="http://localhost:8080/geonetwork/images/harvesting/belgica-image.jpeg" alt="thumbnail image"></img>
				<p>Marine Spatial Plan</p>
			  </a>
        </div>  
        
        
        <!-- MSFD -->
        <div 
              class="col-xs-12 col-sm-6 col-md-4 chips-card text-center">
                             
              <a href="#/search?facet.q=keyword%2FMarine Strategy Framework Directive%26type%2Fdataset&resultType=details">
				<img class="img-thumbnail" src="http://localhost:8080/geonetwork/images/harvesting/MSFD-logo.jpeg" alt="thumbnail image"></img>
				<p class="text-center">Marine Strategy Framework Directive</p>
			  </a>
        </div>  
        
        <!-- Geology -->
         <div 
              class="col-xs-12 col-sm-6 col-md-4 chips-card text-center">
                             
              <a href="#/search?facet.q=inspireThemeURI%2Fhttp%253A%252F%252Finspire.ec.europa.eu%252Ftheme%252Fge%26type%2Fdataset&resultType=details">
				<img class="img-thumbnail" src="http://localhost:8080/geonetwork/images/harvesting/geology-picture.jpeg" alt="thumbnail image"></img>
				<p class="text-center">Geology</p>
			  </a>
        </div>  
        </div>
		<div class="row">
        <!-- Occurences -->
				<div 
					  class="col-xs-12 col-sm-6 col-md-4 chips-card text-center">
									 
					  <a href="#/search?keyword=Occurrence">
						<img class="img-thumbnail" src="http://localhost:8080/geonetwork/images/harvesting/geology-picture.jpeg" alt="thumbnail image"></img>
						<p class="text-center">Occurence</p>
					  </a>
				</div> 
        
        
        <!-- Tiles -->
				<div 
					  class="col-xs-12 col-sm-6 col-md-4 chips-card text-center">
									 
					  <a href="">
						<img class="img-thumbnail" src="http://localhost:8080/geonetwork/images/harvesting/geology-picture.jpeg" alt="thumbnail image"></img>
						<p class="text-center">Tiles project</p>
					  </a>
				</div> 
        </div>
        </div>
     </h3>
   </div>
</div>


